doctype html
head
  title Homepage
  style.
          body {
              font-size: 17px;
              text-align:center;
          }
h1 Welcome to the homepage
  div
    a(href='/database') Enter details into database
  div
    a(href='/search') Search the database
